<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>playerId</th>
        <th>ranking</th>
        <th>regionCode</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>teamName</th>
        <th>age</th>
        <th>height</th>
        <th>weight</th>
        <th>positionText</th>
        <th>minsPlayed</th>
        <th>rating</th>
        <th>name</th>
        <th>tackleWonTotal</th>
        <th>tackleTotalAttempted</th>
        <th>challengeLost</th>
        <th>interceptionAll</th>
        <th>foulGiven</th>
        <th>foulCommitted</th>
        <th>offsideGiven</th>
        <th>clearanceTotal</th>
        <th>dribbleLost</th>
        <th>dribbleWon</th>
        <th>outfielderBlock</th>
        <th>passCrossBlockedDefensive</th>
        <th>outfielderBlockedPass</th>
        <th>shotOffTarget</th>
        <th>shotOnPost</th>
        <th>shotOnTarget</th>
        <th>shotsTotal</th>
        <th>shotBlocked</th>
        <th>shotSixYardBox</th>
        <th>shotPenaltyArea</th>
        <th>shotOboxTotal</th>
        <th>shotOpenPlay</th>
        <th>shotCounter</th>
        <th>shotSetPiece</th>
        <th>penaltyTaken</th>
        <th>shotRightFoot</th>
        <th>shotLeftFoot</th>
        <th>shotHead</th>
        <th>goalSixYardBox</th>
        <th>goalPenaltyArea</th>
        <th>goalObox</th>
        <th>goalTotal</th>
        <th>goalOwn</th>
        <th>goalOpenPlay</th>
        <th>goalCounter</th>
        <th>goalSetPiece</th>
        <th>penaltyScored</th>
        <th>goalNormal</th>
        <th>goalRightFoot</th>
        <th>goalLeftFoot</th>
        <th>goalHead</th>
        <th>yellowCard</th>
        <th>redCard</th>
        <th>turnover</th>
        <th>dispossessed</th>
        <th>saveSixYardBox</th>
        <th>savePenaltyArea</th>
        <th>saveObox</th>
        <th>duelAerialWon</th>
        <th>duelAerialLost</th>
        <th>passLongBallAccurate</th>
        <th>passLongBallInaccurate</th>
        <th>shortPassAccurate</th>
        <th>shortPassInaccurate</th>
        <th>passCrossAccurate</th>
        <th>passCrossInaccurate</th>
        <th>passCornerAccurate</th>
        <th>passCornerInaccurate</th>
        <th>passFreekickAccurate</th>
        <th>passFreekickInaccurate</th>
        <th>keyPassLong</th>
        <th>keyPassShort</th>
        <th>keyPassCross</th>
        <th>keyPassCorner</th>
        <th>keyPassThroughball</th>
        <th>keyPassFreekick</th>
        <th>keyPassThrowin</th>
        <th>keyPassOther</th>
        <th>assistCross</th>
        <th>assistCorner</th>
        <th>assistThroughball</th>
        <th>assistFreekick</th>
        <th>assistThrowin</th>
        <th>assistOther</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players | orderBy: '-minsPlayed'">
        <td><a href="/players/{{player._id}}">{{player.name}}</a></td>
        <td>{{player.playerId}}</td>
        <td>{{player.ranking}}</td>
        <td>{{player.regionCode}}</td>
        <td>{{player.firstName}}</td>
        <td>{{player.lastName}}</td>
        <td>{{player.teamName}}</td>
        <td>{{player.age}}</td>
        <td>{{player.height}}</td>
        <td>{{player.weight}}</td>
        <td>{{player.positionText}}</td>
        <td>{{player.minsPlayed}}</td>
        <td>{{player.rating}}</td>
        <td>{{player.tackleWonTotal}}</td>
        <td>{{player.tackleTotalAttempted}}</td>
        <td>{{player.challengeLost}}</td>
        <td>{{player.interceptionAll}}</td>
        <td>{{player.foulGiven}}</td>
        <td>{{player.foulCommitted}}</td>
        <td>{{player.offsideGiven}}</td>
        <td>{{player.clearanceTotal}}</td>
        <td>{{player.dribbleLost}}</td>
        <td>{{player.dribbleWon}}</td>
        <td>{{player.outfielderBlock}}</td>
        <td>{{player.passCrossBlockedDefensive}}</td>
        <td>{{player.outfielderBlockedPass}}</td>
        <td>{{player.shotOffTarget}}</td>
        <td>{{player.shotOnPost}}</td>
        <td>{{player.shotOnTarget}}</td>
        <td>{{player.shotsTotal}}</td>
        <td>{{player.shotBlocked}}</td>
        <td>{{player.shotSixYardBox}}</td>
        <td>{{player.shotPenaltyArea}}</td>
        <td>{{player.shotOboxTotal}}</td>
        <td>{{player.shotOpenPlay}}</td>
        <td>{{player.shotCounter}}</td>
        <td>{{player.shotSetPiece}}</td>
        <td>{{player.penaltyTaken}}</td>
        <td>{{player.shotRightFoot}}</td>
        <td>{{player.shotLeftFoot}}</td>
        <td>{{player.shotHead}}</td>
        <td>{{player.goalSixYardBox}}</td>
        <td>{{player.goalPenaltyArea}}</td>
        <td>{{player.goalObox}}</td>
        <td>{{player.goalTotal}}</td>
        <td>{{player.goalOwn}}</td>
        <td>{{player.goalOpenPlay}}</td>
        <td>{{player.goalCounter}}</td>
        <td>{{player.goalSetPiece}}</td>
        <td>{{player.penaltyScored}}</td>
        <td>{{player.goalNormal}}</td>
        <td>{{player.goalRightFoot}}</td>
        <td>{{player.goalLeftFoot}}</td>
        <td>{{player.goalHead}}</td>
        <td>{{player.yellowCard}}</td>
        <td>{{player.redCard}}</td>
        <td>{{player.turnover}}</td>
        <td>{{player.dispossessed}}</td>
        <td>{{player.saveSixYardBox}}</td>
        <td>{{player.savePenaltyArea}}</td>
        <td>{{player.saveObox}}</td>
        <td>{{player.duelAerialWon}}</td>
        <td>{{player.duelAerialLost}}</td>
        <td>{{player.passLongBallAccurate}}</td>
        <td>{{player.passLongBallInaccurate}}</td>
        <td>{{player.shortPassAccurate}}</td>
        <td>{{player.shortPassInaccurate}}</td>
        <td>{{player.passCrossAccurate}}</td>
        <td>{{player.passCrossInaccurate}}</td>
        <td>{{player.passCornerAccurate}}</td>
        <td>{{player.passCornerInaccurate}}</td>
        <td>{{player.passFreekickAccurate}}</td>
        <td>{{player.passFreekickInaccurate}}</td>
        <td>{{player.keyPassLong}}</td>
        <td>{{player.keyPassShort}}</td>
        <td>{{player.keyPassCross}}</td>
        <td>{{player.keyPassCorner}}</td>
        <td>{{player.keyPassThroughball}}</td>
        <td>{{player.keyPassFreekick}}</td>
        <td>{{player.keyPassThrowin}}</td>
        <td>{{player.keyPassOther}}</td>
        <td>{{player.assistCross}}</td>
        <td>{{player.assistCorner}}</td>
        <td>{{player.assistThroughball}}</td>
        <td>{{player.assistFreekick}}</td>
        <td>{{player.assistThrowin}}</td>
        <td>{{player.assistOther}}</td>
      </tr>
    </tbody>
  </table>
</div>

<form ng-submit="addPlayer()">
  <input ng-model="newPlayer.name" placeholder="Name">
  <input ng-model="newPlayer.rating" placeholder="Rating">
  <button type="submit">Submit</button>
</form>


